*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    text-align: center;
}
.color1{
    background-color: #B91450;
}

.input_utente{
    width: 80%;
    background-color: white;
    border-radius: 15px;
    color: #B91450;
    margin: auto;
}

.stampa_biglietto{
    width: 80%;
    background-color: white;
    color:black;
    margin: auto;
    padding: 5px;
}

.stampa_biglietto h3{
    text-align: left;
}

.biglietto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: 1px solid grey;
    

}

.passeggero{
    background-color:grey;
}

